//pls send your like --> https://www.instagram.com/p/BuBhhSPBEjl/?utm_source=ig_web_copy_link

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html,body{
    width: 100%;
    margin:auto;
  }
  body{
    font-size: 65.2%;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  .container{
    max-width: 100em;
    margin: auto;
    padding: 0 2%;
    overflow: hidden;
   
  }
  .clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  // -----------media queries -----------
  section{
    @media (max-width: 80em) {
      font-size: .95em;
      thead {
        font-size:.95em;
      }
    }
    @media (max-width: 70em) {
      font-size: .9em;
      thead {
        font-size:.9em;
      }
    }
    @media (max-width: 60em) {
      font-size: .85em;
      thead {
        font-size:.8em;
      }
    }
    @media (max-width: 40em) {
      font-size: .9em;
    }
  }
  // -----------------colors------------

  $bg:#131313;
  $bgwhite: #f2f2f2;
  $textColor:rgb(233, 232, 232);
  $blue: #28b9e5;
  $purple: #ac85fc;
  
  .red{
    background: #ec4443;
    border-color:#ec4443;
  }
  .orange{
    background: #ff6300;
    border-color:#ff6300;
  }
  .yellow{
    background: yellow;
    border-color: yellow;
  }
  .green{
    background: #97c932;
    border-color: #97c932;
  }
  .blue{
    background: #28b9e5;
    border-color: #28b9e5;
  }
  .purple{
    background: #ac85fc;
    border-color: #ac85fc;
  }
  .pink{
    background: #e64f82;
    border-color: #e64f82;
  }
  .black{
    background: #242021;
    border-color: #242021;
  }
  .white{
    background: #fff;
    border-color: #fff;
  }
  .brown{
    background: #622f2f;
    border-color: #622f2f;
  }
  .gray{
    background: #c8c8c8;
    border-color: #c8c8c8;
  }
  
  