section#tip6{
    padding: 2em 0 8em 0;
    background: $bgwhite;
    @media (max-width: 600px){
        .left{
            width: 100% !important;//😌
            text-align: center !important;//😌
        }
        .right{
            width: 100% !important;//😌
            text-align: center !important;//😌
        }
    }

    .left{
        width: 50%;
        text-align: left;
    }
    .right{
        width: 50%;
        text-align: center;
    }

    h3{
        font-size: 2em;
        font-weight: 100;
        color: rgb(146, 145, 145);
        text-shadow: 0 0 1px rgb(163, 163, 163);
        text-align: left;
        padding: 2em 0 1em 0;
    }

    [class^="pie"]{
        position: relative;
        width: 25em;
        height: 25em;
        overflow: hidden;
        border-radius: 50%;
        transform: rotate(100deg);
        display: inline-block;

        &::after{
            content: " ";
            width: 90%;
            height: 90%;
            display: block;
            margin: 5% 0 0 5%;
            transform: scale(0.92);
            position: absolute;
            border-radius: 50%;
            background: $bgwhite;
            z-index: 9;
        }
        p.indicator{ 
            width: 20%;
            height: 20%;
            display: block;
            margin: 40% 0 0 40%;
            position: absolute;
            border-radius: 50%;
            z-index: 999;
            border: 5px solid #fff;
            box-shadow: 0 0 0 2px #000;
            &::after{
                content: " ";
                box-sizing: unset;
                width: 1px;
                height: 100%;
                display: block;
                position: absolute;
                background: #fafafa;
                border: 2px solid #fff;
                border-top-color: transparent;
                border-bottom-color: transparent;
                transform: translate(17px, -2px) rotate(120deg);
            }
           
        }
       
        @for $i from 1 through 13{
                $hue: $i * 360/13;
               :nth-child(#{$i}){
                background: hsl($hue, 100%, 50%);
                transform: 
                    scale(1.6) 
                    rotate(#{$i * 360 / 13}deg) 
                    skew(#{(90 - 360/13)}deg);     
               }
        }
    }// class
    span.slice{
        width: 50%;
        height: 50%;
        display: block;
        position: absolute;
        transform-origin: right bottom;
        border: none;
    }
    .pie2{
        p{
            background: #51965b;
        }
        span{
            
        }
    }
    .pie3 p{
        background: #f7542f;
    }
    .pie4 p{
        background: #3e6ec0;
    }
    
}// section end

// colorblindness filter with svg and sass mixins
//http://lukyvj.github.io/accecss/

@include accecss( 
  $element: '.pie2 span',
  $zones: false,
  $grayscale: false,
  $cbFilter: deuteranopia 
);

@include accecss( 
  $element: '.pie3 span',
  $zones: false,
  $grayscale: false,
  $cbFilter: protanopia 
);
@include accecss( 
  $element: '.pie4 span',
  $zones: false,
  $grayscale: false,
  $cbFilter: tritanopia 
);


@include accecss( 
  $element: '.pie5 span',
  $zones: false,
  $grayscale: false,
  $cbFilter: protanomaly 
);
@include accecss( 
  $element: '.pie6 span',
  $zones: false,
  $grayscale: false,
  $cbFilter: achromatopsia 
);
@include accecss( 
  $element: '.pie7 span',
  $zones: false,
  $grayscale: false,
  $cbFilter: deuteranomaly 
);
@include accecss( 
  $element: '.pie8 span',
  $zones: false,
  $grayscale: false,
  $cbFilter: achromatomaly 
);