
  #tip2{
    background: #f2f2f2;
    font-size: 1em;
    padding-bottom: 4em;
  
    h2{
      color: gray;
      padding: 2em 0;
      font-size: 2em;
      font-weight: 100;
      text-align: left;
    }
  
    @media (max-width: 80em) {
      font-size: .95em;
    }
    @media (max-width: 70em) {
      font-size: .9em;
    }
    @media (max-width: 60em) {
      font-size: .85em;
    }
    @media (max-width: 40em) {
      font-size: .9em;
      .left{
        width: 60%;
        margin: 0 auto;
        float: none;
      }
      .right{
        width: 60%;
        float: none;
        margin: 0 auto;
      }
    }
    @media (max-width: 30em) {
      .left{
        width: 80%;
        margin: 0 auto;
        float: none;
      }
      .right{
        width: 80%;
        float: none;
        margin: 0 auto;
      }
    }
  }
  
  .left{
    width: 40%;
    float: left;
    text-align: center;
   
  }
  .right{
    width: 40%;
    float: right;
    text-align: center;
  }
  
.pie{
    width: 27em;
    height: 27em;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    @media (max-width: 500px) {
      font-size: .8em;
    }
    
    span{
      display: block;
      position: absolute;
      background: transparent;
      width: 100%;
      height: 100%;
      border-width: 1.8em;
      border-bottom-color:transparent;
      border-right-color:transparent;
      border-left-color:transparent;
      border-style: solid;
      border-radius: 50%;
    }
    .purple{
        transform: rotate(-22deg)
    }
    .orange{
        transform: rotate(55deg)
    }
    .yellow{
        transform: rotate(130deg)
    }
    .white{
        transform: rotate(175deg)
    }
    .black{
        transform: rotate(200deg)
    }
    .green{
        transform: rotate(210deg)
    }
    .red{
        transform: rotate(220deg)
    }
    .gray{
        transform: rotate(230deg)
    }
    .blue{
        transform: rotate(242deg)
    }
    .brown{
        transform: rotate(248deg)
    }
    
  }
  
  .stats{
    width: 80%;
    position: relative;
    display: inline-block;
    padding: 1.5em 0;
    span{
      width: 1em;
      height: 1em;
      display: block;
      text-indent: 1.7em;
      margin: 0.8em 0;
      font-size: 1.4em;
      text-shadow: 0 0 1px #000;
      &::before{
        content: attr(class);
        text-transform: capitalize
      }
  
      &::after{
        position: absolute;
        right: 0;
        margin-top: -15px;
      }
      &.blue::after{
          content:"1%"
      }
      &.brown::after{
          content:"28%"
      }
      &.green::after{
          content:"2%"
      }
      &.orange::after{
          content:"5%"
      }
      &.purple::after{
          content:"22%"
      }
      &.red::after{
          content:"2%"
      }
      &.white::after{
          content:"5%"
      }
      &.yellow::after{
          content:"13%"
      }
      &.black::after{
          content:"1%"
      }
    }
  }
  
  .right .pie{
    .purple{
        transform: rotate(210deg)
    }
    .orange{
        transform: rotate(-60deg);
        border-right-color: #ff6300;//bigger than 1/4
    }
    .yellow{
        transform: rotate(70deg);
    }
    .white{
        transform: rotate(180deg)
    }
    .green{
        transform: rotate(110deg)
    }
    .gray{
        transform: rotate(170deg)
    }
    .brown{
        transform: rotate(130deg)
    }
  }
  
  .right .stats span {
    &.brown::after{
        content:"20%"
    }
    &.green::after{
        content:"6%"
    }
    &.gray::after{
        content: "17%"
    }
    &.orange::after{
        content:"33%"
    }
    &.purple::after{
        content:"8%"
    }
    &.white::after{
        content:"3%"
    }
    &.yellow::after{
        content:"13%"
    }
  }