section#tip5{
    background: $bg;
    color: $textColor;
    h1{
        font-weight: 100;
        font-size: 2.2em;
        margin-top: -1em;
        padding: 0em 0 5em 0;
        text-shadow: 0 0 1px #aaa;
    }
.col{
    &:nth-child(1) .bg{
        background:
        linear-gradient(
        darken(#3e5cd4, 10%)  0 20%,
        darken(#3e5cd4, 20%)  20% 40%, 
        darken(#3e5cd4, 30%)  40% 60%, 
        darken(#3e5cd4, 40%)  60% 100%
        );
        &::after{
            background:
        linear-gradient(
            darken(#3e5cd4, 40%) 0 100%);
        }
    }
    
    &:nth-child(2) .bg{
        background:
        linear-gradient(
        #7283c2 0 20%,
        #485baf 20% 40%, 
        #372d8a 40% 60%, 
        #4420c4 60% 100%
        );
        &::after{
            background:
        linear-gradient(
        #4420c4 0 100%);
        }
    }
    &:nth-child(3) .bg{
        background:
        linear-gradient(
        #8b9ee3 0 20%,
        #637ae2 20% 40%, 
        #4c6bd0 40% 60%, 
        #0735ee 60% 100%
        );
        &::after{
            background:
        linear-gradient(
        #0735ee 0 100%);
        }
    }
    &:nth-child(4) .bg{
        background:
        linear-gradient(
        #9aaae4 0 20%,
        #535b81 20% 40%, 
        #2f3c66 40% 60%, 
        #071d74 60% 100%
        );
        &::after{
            background:
        linear-gradient(
        #071d74 0 100%);
        }
    }
  }//col
}

